$font: 'Open Sans', sans-serif; 

$color-white: #ffffff;
$color-black: #333333;
$color-gray: #828282;
$color-green: #27ae60;
$color-blue: #11356b;

$color-green-dark: #34595e;

$color-primary: #00c298;

$color-secondary: #7b8289;

$color-light: #f4f6f8;
$color-dark: #34495e; 

$color-light-gray: #e5e5e5;

$color-dark-light: #4e647b;

$color-success: #48d2a0;
$color-warning: #f8c51c;
$color-error: #f54b5e;

$transition: 400ms;